--- drivers/soc/qcom/Kconfig
+++ drivers/soc/qcom/Kconfig
@@ -588,10 +588,14 @@ source "drivers/soc/qcom/memshare/Kconfig"
 config BOOTINFO
 	bool "Boot Information Feature"
 	default n
+
+config FORCE_FAST_CHARGE
+	bool "Force faster charge rate for AC/USB"
+	default y
 	help
-	  This feature provides access to certain boot information
-	  from both kernel context (via function call) and user
-	  context (via /proc/bootinfo).
+	  This allows users to override default charge rate for both USB and AC
+	  charger input current
+
 
 config MMI_SOC_INFO
 	default n
