--- block/Kconfig.iosched
+++ block/Kconfig.iosched
@@ -163,6 +172,7 @@ config DEFAULT_IOSCHED
 	default "noop" if DEFAULT_NOOP
 	default "fiops" if DEFAULT_FIOPS
         default "sio" if DEFAULT_SIO
+        default "zen" if DEFAULT_ZEN
 
 endmenu
 
